services:
  tracking-db:
    image: mysql:8.0
    container_name: tracking-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: mesacerPass.2025
      MYSQL_DATABASE: tracking_db
    volumes:
      # PERFECTO: Apuntando al disco grande
      - /datadisk/mysql_data:/var/lib/mysql
    networks:
      - tracking-net
    ports:
      - "3307:3306"

  tracking-backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
      network: host
    container_name: tracking-backend
    restart: always
    depends_on:
      - tracking-db
    environment:
      SERVER_PORT: 8082
      SPRING_DATASOURCE_URL: jdbc:mysql://tracking-db:3306/mesabd_rastreabilidade_spring?allowPublicKeyRetrieval=true&useSSL=false
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: mesacerPass.2025
      SPRING_JPA_HIBERNATE_DDL_AUTO: none
      SPRING_SQL_INIT_MODE: never
      SPRING_JPA_GENERATE_DDL: "false"
      SPRING_PROFILES_ACTIVE: prod
      JAVA_OPTS: "-Djava.security.egd=file:/dev/./urandom"
    networks:
      - tracking-net
    ports:
      - "8082:8082"

  tracking-frontend:
    # CAMBIO IMPORTANTE: Usamos imagen directa, no build
    image: nginx:alpine
    container_name: tracking-frontend
    restart: always
    depends_on:
      - tracking-backend
    volumes:
      - ./nginx-conf/default.conf:/etc/nginx/conf.d/default.conf
      # --- AQUÍ ESTÁ LA MAGIA ---
      # Mapeamos tu carpeta local 'dist' a la carpeta html del contenedor.
      # Asegúrate de que al compilar Vue, los archivos queden en ./frontend/dist
      - ./frontend/dist:/usr/share/nginx/html
    ports:
      - "8081:80"
    networks:
      - tracking-net

networks:
  tracking-net:
    driver: bridge